{% extends 'main/base.html'%}

{% block title %}
{{ title}}
{% endblock%}


{% block content %}
 <h1>Главная страница</h1>
<form method="post">
    {% csrf_token %}
    <div class="dropdown-content">
     <form action="PageObjects" method="post">
           <tr><th><label for="id_filter_by">Фильтровать по категориям:</label></th><td><select id="id_filter_by" name="filter_by" required>
           <!--<select name="filter_by">-->
        {% for temp in choises %}
         <option value="{{ temp.klacc }}">{{ temp.klaccName }}</option>
    {% endfor %}
</select>
            <input type="submit" value="показать">
</form>
       <li><a href="{% url 'getAll' %}">Показать все</a></li>
    <div class="invalid-feedback">
                Пожалуйста введите существующее значение.
              </div>
</ul>
 </div>
    <label class="form-label">Показано {{count}} элементов  {{kateg}}</label>
   {% if tasks %}
        {%for el in tasks %}
            <div class="alert alert-warning mt-2" >
                <p><a  class="p-2 text-dark" >{{el.klaccName}}</a></p>
               <h3><a  class="p-2 text-dark" >{{el.nazvanie}}</a></h3>
                <p><a class="p-2 text-dark">{{ el.author }}</a></p>

               <p><pre>{{ el.stih }}</pre></p>
            </div>
        {%endfor%}

    {% else %}
        <p>У нас нет записей</p>
    {%endif%}
    </form>
{% endblock%}